<div class="section">
  <div class="background" data-desktop="/static/images/backgrounds-2021/hls-resized-2.jpg" data-mobile="/static/images/backgrounds-2021/HLS_Mobile.jpg" style="background-image: url(&quot;https://www.spacex.com/static/images/backgrounds-2021/hls-resized-2.webp&quot;);"></div>
  <div class="section-inner feature" style="height: 926px;">
    <div class="inner-left-bottom">
      

      <h2 class="animate shadowed" style="visibility: inherit; opacity: 1; transform: translate3d(0px, 0px, 0px);">Starship to Land NASA Astronauts on the Moon</h2>
      
      <a class="btn animate" tabindex="0" href="/updates/#starship-moon-announcement" style="visibility: inherit; opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <div class="hover"></div>
        <span class="text">LEARN MORE</span>
      </a>
      
    </div>
    <div class="scrollme" style="visibility: inherit; opacity: 0.161918; transform: translate3d(0px, -39.9111px, 0px);">
      <svg width="30px" height="20px">
        <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
      </svg>
    </div>
  </div>
</div>